<!DOCTYPE html>

<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link" href="/ejemplo2">Álbumes</a></li>
                    <li class="nav-menu-item"><a class="nav-link" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link" href="/iframe">iFrame</a></li>
                </ul>
            </nav>
        </header>
        <!-- color de barra #a569bd -->
        <aside>
            <h1>iFrame</h1>
            <p>Uso de iFrames en sitios web</p>
        </aside>
        <section>
            <h2>Ejemplos de iFrames</h2> 
            <article>
                <h3>Sitio Embebido</h3>
                <iframe src="https://www.wikipedia.org/" 
                        width="1100"
                        height="600">
                </iframe>
            </article>
            <article>
                <h3>YouTube</h3>
                <iframe width="970" height="550" src="https://www.youtube.com/embed/1X5ioMnKSJw" title="Mora, Dei V - DIAMONDS (Visualizer) | ESTRELLA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </article>
            <article>
                <h3>Ubicanos</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9348.262142089401!2d-84.06220858167288!3d9.89558677819827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e35ba0813a03%3A0xab75404f527a966a!2sMall%20Multicentro%20Desamparados!5e0!3m2!1ses!2scr!4v1747793273466!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen=" "referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
        </section>
        <footer>TechShop2025 &COPY;Todos los derechos son reservados
        </footer>
    </body>
</html>
