<!DOCTYPE html>

<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">TechShop</a>
                <ul>
                    <li><a href="/ejemplo2">Álbumes</a></li>
                    <li><a href="/multimedia">Multimedio</a></li>
                    <li><a href="/iframe">iFrame</a></li>
                </ul>

            </nav>
        </header>
        <!-- color de barra #a569bd -->
        <aside>
            <h1>TechShop</h1>
            <p>Uso de etiquetas semanticas en la pagina principal y menu de acceso rapido</p>
        </aside>
        <section>
            <h2>Su tienda en linea</h2> 
            <p>Creada en 2018 para la conveniencia de la poblacion mundial </p> 
            <h3>Es el sitio</h3>
        </section>
        <footer>TechShop2025 &COPY;Todos los derechos son reservados
        </footer>
    </body>
</html>
